{% extends "base.html" %}
{% import "_forms.html" as forms %}


{% block content %}

<div class="panel">
<h3>添加话题 Add a Talk</h3>
</div>

	<form action="" method="post" name="new talk">
		{{ forms.render(form) }}
	<p><input type="submit" value="提交 submit" class="button"></p>
</form>

<div class="panel">
<h3>近期话题 Coming Talks</h3>
</div>

	{% for talk in talks %}
		<div class="panel">
			<h4>{{ talk.title }}</h4>
			<p>by {{ talk.author|truncate(200) }}</p>
			<p>{{ talk.body|truncate(200) }}</p>
			<p>{{ talk.created_at.strftime('%H:%M %Y-%m-%d') }}</p>
		</div>
	{% endfor %}


{% endblock %}